<div id = "bm-list">
	

	<% for(var x=0; x<book_in.length; x++){ %>
		<div>

			<img class="bookmark_favicon" src="https://s3.amazonaws.com/kc-startpage/<%= book_in[x].bookmark_favicon %>" >
			<a href = "<%= book_in[x].bookmark_url %>"><%= book_in[x].bookmark_name %></a>
		
		</div>
	<% }; %>


</div>