<script type = "text/javascript">
	$(document).ready(function(){
		//refresh bm list


		$('div#bm-list').on("click", 'button.bm-del', function(){
			//send post to server to remove document with name equal to value
			server_url = window.location.protocol+"//"+window.location.host+"/api/bm-del";
			console.log("Delete button pressed: " + $(this).val());
			bm_name = {name: $(this).val()};
			console.log(bm_name);

			$.post(server_url,bm_name,function(){
				refreshBMList();
			});
		});

		refreshBMList();
	});



	function refreshBMList(){
		$.ajax({
			type: 'GET',
		    url: window.location.protocol + "//" + window.location.host + "/api/bm",
		    dataType: "json",
		    success: function(data){
		    	console.log(data);
		    	createBMList(data);
		    },
		    error: function(XMLHttpRequest, status, err){
		    	console.log('error', err);
		    }
		});
	};

	function createBMList(bookmarks_collection){
		var bmList = $('#bm-list');
		$('div.bm-div').remove();

		for(var x= 0; x<bookmarks_collection.length; x++){
			var bm_div = $('<div/>')
				.addClass('bm-div')
				.appendTo(bmList);

			var ahref = $('<a/>')
				.attr('href', bookmarks_collection[x].bookmark_url)
				.addClass('bm-ahref')
				.appendTo(bm_div);
			ahref.text(bookmarks_collection[x].bookmark_name);

			var img = $('<img/>')
				.addClass('bm-favicon')
				.attr('src', 'https://s3.amazonaws.com/kc-startpage/' + bookmarks_collection[x].bookmark_favicon)
				.prependTo(ahref);
			var del = $('<button/>')
				.addClass('bm-del')
				.attr('value', bookmarks_collection[x].bookmark_name)
				.appendTo(bm_div);
			del.text("Delete");
		}

	};



</script>



<div id = "bm-list">
	

<!-- 	<% for(var x=0; x<book_in.length; x++){ %>
		<div>

			<img class="bookmark_favicon" src="https://s3.amazonaws.com/kc-startpage/<%= book_in[x].bookmark_favicon %>" >
			<a href = "<%= book_in[x].bookmark_url %>"><%= book_in[x].bookmark_name %></a>
		
		</div>
	<% }; %> -->


</div>