<div id="stock_add">
	<div class="dropdown">
		<select id="stockCrypto">
			<option value="stock">Stock</option>
			<option value="crypto">Crypto</option>
		</select>
	</div>
	<div id="symbol">
		Symbol:<input type="text" id="symbol">
	</div>
	<div class="dropdown">
		<select id="boughtWatchlist" onchange="checkHideExtra()">
			<option value="bought">Bought</option>
			<option value="watchlist">Watchlist</option>
		</select>
	</div>

	<div id="bought_extra">
		<div id="shares">
			# of Shares: <input type="text" id="numShares" value=0>
		</div>
		<div id="price">
			Share Price: <input type="text" id="sharePrice" value=0>
		</div>
		<div id="commission">
			Commission: <input type="text" id="comm" value=0>
		</div>
	</div>
	<button id="holdingsAdd" type="button">Add</button>
</div>