<script>

$(document).ready(function(){
	checkHideExtra();
	console.log("page loaded");
	$('button#holdingsAdd').click(function(){
		sendStocks();
	});

	$('button#refresh_stocks').click(function(){
		console.log("refresh stock button clicked");
		refreshCurrentPrice();
	});
	createSTList();
});

//make an API call once every minute



//function to post data to server
function sendStocks(){
	stSymbol = $('input#symbol').val();
	console.log("sysymbol:" + stSymbol);
	stType = $('select#stockCrypto').val();
	stHolding = $('select#boughtWatchlist').val();
	stShares= $('input#numShares').val();
	stPrice=$('input#sharePrice').val();
	stComm=$('input#comm').val();

	stFormJSON = {
		'symbol' : stSymbol, 
		'type' : stType, 
		'holding' : stHolding,
		'shares': stShares,
		'price': stPrice,
		'commission' : stComm
	};
	console.log(stFormJSON);
	server_url = window.location.protocol + "//" + window.location.host+ "/add-stock";
	$.post(server_url, stFormJSON, function(){
		console.log("sent out stocks");
	});
}
function checkHideExtra(){

	selection = $('select#boughtWatchlist').val();
	console.log("value:" + selection);
	if (selection=='bought'){
		$('div#bought_extra').show();
		$('div#shares input#numShares').val(0);
		$('div#price input#sharePrice').val(0);
		$('div#commission input#comm').val(0);
	} else{
		$('div#bought_extra').hide();
		$('div#shares input#numShares').val(0);
		$('div#price input#sharePrice').val(0);
		$('div#commission input#comm').val(0);
	}
}

function createSTList(){
	$.ajax({
		type: 'GET',
		url: window.location.protocol + "//" + window.location.host + "/api/st",
		data: "day",
		dataType: "json",
		success: function(data){
			console.log("creating div tables");

			var stList = $('#stockList');
			$('div.stDiv').remove();
			for(var x = 0; x<data.length; x++){
				if(data[x].type = "stock"){
					url = "https://ca.finance.yahoo.com/quote/"+data[x].symbol;
				
					console.log("name: " + data[x].symbol.toUpperCase());
					var stDiv=$('<div/>')
						.addClass('stDiv')
						.appendTo(stList)
						.attr('id', data[x].symbol);
					//link to yahoo finance
					var ahref=$('<a/>')
						.attr({
							'href':url,
							'target': '_blank' 
						})
						.addClass('stAHref')
						.appendTo(stDiv);
					ahref.text(data[x].symbol.toUpperCase());
					//current price (green if up, red if low)
					var currPrice=$('<u/>')
						.addClass('currPrice')
						.appendTo(ahref)
						.attr('value', data[x].symbol);
					//edit button to change details
					var edit=$('<button/>')
						.addClass('stDel')
						.attr('value', data[x].symbol)
						.appendTo(stDiv);
					edit.text("Edit");
					//graph div to contain the upcoming graph
					var st_graph=$('<div/>')
						.addClass('stockGraph')
						.attr('value', data[x].symbol)
						.appendTo(stDiv);
				};
			};
		},
		error: function(XMLHttpRequest, status, err){
			console.log('error', err);	
		}
	});


}

function refreshGraphs(){
	console.log("refreshing graaphs");
		//put in an ajax get to our server
		$.ajax({
			type: 'GET',
			url: window.location.protocol + "//" + window.location.host + "/api/st_graph",
			data: {"timeline":"day"},
			dataType: "json",
			success: function(data){
				console.log("data received");
			},
			error: function(XMLHttpRequest, status, err){
				console.log('error', err);	
			}
		});
		//receive data from our server

		//display data from our server in a new div within stDiv

		//display graph in stDiv
}
function refreshCurrentPrice(){
	getCurrentPrice();
}
function getCurrentPrice(){
	console.log("getting current price");
	$.ajax({
		type: 'GET',
		url: window.location.protocol+"//"+window.location.host+"/api/st_graph",
		data: {"timeline": "current"},
		dataType: "json",
		success: function(data){
			console.log("data received from getCurrentPrice");
			refreshCurrentPrice(data);
		},
		error: function(XMLHttpRequest, status, err){
			console.log('data not recevied from getCurrentPrice' + err);
		}

	});
}
</script>
<button id="refresh_stocks">Refresh</button>
<div id='stockList'>

</div>